#hw5
<li id="merge"<% if hidden %> style="display: none;"<% end %>>
<h4><%= _("Merge Articles") %></h4>
  Article ID <%= text_area 'like_article_id', 'excerpt', {:height => '150', :style => 'width: 50%', :rows => '1'} %>
  <span class='help-block'><%=_("Specify what Article ID to merge with") %></span>
#hw5